* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mycontainer , .my {
    background-color: burlywood;
    height: 200px;
}

.my1 {
    background-color: burlywood;
    height: 100px;
}